.two-by-two-grid {
  display: grid;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.row,
.col {
  width: auto;
  height: auto;
  border: 1px solid black;
  margin: 5px;
}

.grid-size-form {
  margin: 15px;
  display: flex;
  flex-direction: row;
}
