#onelinelayouts {
  margin: auto;
  padding: 25px;

  .ex1 .parent {
    display: grid;
    place-items: center;
    border: 1px solid black;
    background: lightblue;
    height: 200px;
  }

  .ex1 .box {
    background: coral;
  }

  .ex2 .parent {
    display: flex;
    flex-wrap: wrap;
  }

  .ex2 .box {
    width: 125px;
    height: 125px;
    border: 1px solid black;
    flex: 0 1 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description {
    margin: 15px;
  }
}
