#onelinelayouts {
  margin: 15px;
  padding: 25px;

  hr {
    margin-top: 30px;
    border-top: 2px solid gray;
  }

  .green {
    background: lightgreen;
  }

  .blue {
    background: lightblue;
  }

  .purple {
    background: purple;
  }

  .coral {
    background: coral;
  }

  .yellow {
    background: lightyellow;
  }

  .description {
    margin: 20px;
  }

  .section,
  .box {
    border: 1px solid black;
  }

  .ex1 .parent {
    display: grid;
    place-items: center;
    height: 125px;
  }

  .ex2 .parent {
    display: flex;
    flex-wrap: wrap;
  }

  .ex2 .box {
    width: 125px;
    height: 125px;

    flex: 1 1 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ex3 .parent {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
  }

  .ex3 .section {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ex4 .parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .ex4 .section {
    padding: 2em;
  }

  .ex5 .parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  }

  .ex5 .section {
    padding: 2em;
  }

  .ex5 header {
    grid-column: 1 / 4;
  }
  .ex5 .left {
    grid-column: 1 / 2;
  }

  .ex5 main {
    grid-column: 2 / 3;
  }

  .ex5 right {
    grid-column: 3 / 4;
  }

  .ex5 footer {
    grid-column: 1 / 4;
  }
}
