.post-container {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-gap: 20px;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "sidebar form form"
    "sidebar messages messages";
}

.post-form {
  padding: 20px;
  grid-area: form;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  padding: 15px;
}

button {
  width: 125px;
  padding: 15px;
}

.message-display {
  display: grid;
  grid-area: messages;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: center;
  text-align: center;
}

.sidebar {
  display: block;
  grid-area: sidebar;
  height: 100%;
  width: 25vw;
}

@media (max-width: 800px) {
  .message-display {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 475px) {
  .message-display {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "form"
      "messages";
  }
}
