.post-form {
  display: grid;

  height: calc(50vh - 80px);
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  padding: 15px;
}

button {
  width: 125px;
  padding: 15px;
}

.message-display {
  display: grid;
  grid-area: messages;
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: center;
  text-align: center;
}

.sidebar {
  display: block;
  grid-area: sidebar;
  height: calc(100vh - 80px);
  width: 25vw;
}

@media (max-width: 800px) {
  .message-display {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 475px) {
  .message-display {
    grid-template-columns: 1fr 1fr;
  }
}
