.grid {
  display: grid;
  height: calc(100vh - 80px);
  grid-gap: 10px;
  grid-template-areas:
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar secondary secondary secondary";
  padding: 15px;
}

.main {
  grid-area: main;
  border: 1px solid black;
}

.secondary {
  grid-area: secondary;
  border: 1px solid black;
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid black;
}

@media (max-width: 550px) {
  .grid {
    grid-template-areas:
      "main"
      "secondary"
      "sidebar";
  }
}
